<h3 class="mb-4">Gifts</h3>
<% @gifted_sales.each do |gifted_sale| %>
    <% gifted_sale.sale_books.each do |sale_book| %>
        <div class="card mb-3">
            <div class="alert alert-secondary text-center mt-4 mx-4">
                The following user: <%= link_to gifted_sale.user.fullname, user_path(gifted_sale.user.id) %> has gifted you the following book:
            </div> 
            <h5 class="card-title text-center"><%= sale_book.book.title %></h5>
            <img src=<%= sale_book.book.image_link %> alt=<%= sale_book.book.title %> class="rounded mx-auto d-block mt-2 mb-4" style="width: 8rem"> 
            <div class="d-flex justify-content-center mb-4">
                <%= link_to 'View', book_path(sale_book.book.id), class: "btn btn-success"%>
                <%= link_to 'Already seen it', '#', class: 'btn btn-warning mx-2' %>
            </div>
        </div> 
    <% end %>
<% end %>