<%= link_to my_friends_path, class:"btn btn-link px-0 " do %>
  <%= fa_icon 'arrow-circle-left' %> Back
<% end %>

<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="#" alt="user image", class="img-fluid">
    <p class="text-center"><%= @user[:email] %></p>
    <p class="text-center"><%= @user[:fullname] %></p>
    <% if @user.already_friends %>
        <%= link_to 'Add friend', friendships_path(friend: @user), class: 'btn btn-sm btn-primary', method: :post %>
    <% else %>
        <%= link_to 'Stop following', friendship_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-warning' %>
    <% end %>
</div>

<div class="d-flex flex-column justify-content-center mt-4">
    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="owned-tab" data-toggle="tab" href="#owned-tab" role="tab" aria-controls="owned" aria-selected="true">Owned Books</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#wishlist-tab" role="tab" aria-controls="wishlist" aria-selected="false">Wishlist</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="owned" role="tabpanel" aria-labelledby="owned-tab">
            <p>My Books go here if i had one!</p>
        </div>

        <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
            <div class="my-4">
                <%= render 'users/partials/wishlist' %>
            </div>
        </div> 
    </div>
</div>

<%= javascript_pack_tag 'my_js' %>





