<%= link_to my_friends_path, class:"btn btn-link px-0 " do %>
  <%= fa_icon 'arrow-circle-left' %> Back
<% end %>

<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="#" alt="user image", class="img-fluid">
    <p class="text-center"><%= @user.email %></p>
    <p class="text-center"><%= @user.fullname %></p>
    <% if @user.already_friends %>
        <%= link_to 'Add friend', friendships_path(friend: @user), class: 'btn btn-sm btn-primary', method: :post %>
    <% else %>
        <span class="badge badge-secondary py-2 mt-1">You are friends</span>
    <% end %>
</div>

