<%= link_to search_book_path, class:"btn btn-link px-0 " do %>
  <%= fa_icon 'arrow-circle-left' %> Back
<% end %>
<% if !@api_book.blank? %>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="d-flex flex-column align-items-center justify-content-center col-md-3">
                <%= image_tag(book_image_url(@api_book["volumeInfo"]["imageLinks"]), alt: book_text(@api_book["volumeInfo"]["title"]), class:"img-fluid mt-4") %>
            </div>
            <div class="col-md-9">
                <div class="card-body text-justify">
                    <h5 class="card-title"><span class="font-weight-bold">Title: </span> <%= book_text(@api_book["volumeInfo"]["title"]) %> </h5>
                    <%= render 'books/partials/rating', obj:@api_book["volumeInfo"]["averageRating"]%>
                    <%= render 'books/partials/authors', obj:@api_book["volumeInfo"]["authors"]%>
                    <p class="card-text"><span class="font-weight-bold">Description: </span> <%= book_text(@api_book["volumeInfo"]["description"]) %> </p>
                    <div class="d-flex justify-content-between">
                        <p class="card-text"><span class="font-weight-bold mr-2">Publisher: </span> <%= book_text(@api_book["volumeInfo"]["publisher"]) %> </p>
                        <p class="card-text"><span class="font-weight-bold">Published Date: </span> <%= book_text(@api_book["volumeInfo"]["publishedDate"])%></p>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center my-2">
                        <%= form_with(model: @book_model, url: add_book_path(params[:id])) do |f| %>
                            <%= f.hidden_field :external_id, value: @api_book["id"] %>
                            <%= f.hidden_field :title, value: book_text(@api_book["volumeInfo"]["title"]) %>
                            <%= f.hidden_field :description, value: book_text(@api_book["volumeInfo"]["description"]) %>
                            <%= f.hidden_field :image_link, value: book_image_url(@api_book["volumeInfo"]["imageLinks"]) %>
                            <%= f.hidden_field :average_rating, value: @api_book["volumeInfo"]["averageRating"] %>
                            <%= f.hidden_field :publisher, value: book_text(@api_book["volumeInfo"]["publisher"]) %>
                            <%= f.hidden_field :published_date, value: book_text(@api_book["volumeInfo"]["publishedDate"]) %>
                            <%= f.hidden_field :preview_link, value: book_text(@api_book["volumeInfo"]["previewLink"]) %>

                            <%= fields_for :author, @book_model.authors do |f_author| %>
                                <%= f_author.hidden_field :full_names, value: format_authors(@api_book["volumeInfo"]["authors"])%>
                            <% end %>

                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <%= f.label :purchase_price, 'Purchase price:', class: "form-label font-weight-bold" %>
                                </div>

                                <div class="col-sm-7">
                                    <%= f.text_field :purchase_price, class: "form-control"%>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <%= f.label :sale_price, 'Sale price:', class: "form-label font-weight-bold" %>
                                </div>

                                <div class="col-sm-7">
                                    <%= f.text_field :sale_price, class: "form-control"%>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <%= f.label :stock, 'Stock:', class: "form-label font-weight-bold" %>
                                </div>

                                <div class="col-sm-7">
                                    <%= f.number_field :stock, value:"1", in: 1..100000, class: "form-control"%>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <%= f.submit("Save", class:"btn btn-primary mt-2")%>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render 'shared/form_errors', obj: @book_model %>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>