<p id="notice"><%= notice %></p>

<h2>Books</h2>

<% @books.each do |book| %>
  <div class="card mb-3" style="height:16rem">
    <div class="row no-gutters">
      <div class="d-flex flex-column align-items-center justify-content-center col-md-3">
        <img src=<%= book[:image_link] %> class="img-fluid my-4">
      </div>
      <div class="col-md-9 align-self-center">
        <div class="card-body text-justify">
          <h5 class="card-title"><span class="font-weight-bold">Title: </span> <%= book[:title] %> </h5>
          <%= render 'rating', obj:book[:average_rating]%>
          <%= render 'authors', obj: author_names(book.authors) %>
          <div class="d-flex justify-content-center">
            <%= link_to 'View', '#', class: "btn btn-success"%>
          </div>
        </div>
      </div>
    </div>  
  </div>
<% end %>