<h3 class="mb-4">All Books</h3>

<%= render 'books/partials/search_catalog_form' %>
<div id="errors"></div>
<div id="books-results">
  <% @books.each do |book| %>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="d-flex flex-column align-items-center justify-content-center col-md-3">
          <img src=<%= book[:image_link] %> class="img-fluid my-4">
        </div>
        <div class="col-md-9 align-self-center">
          <div class="card-body text-justify">
          <div class="d-flex flex-column align-self-center">
            <h5 class="card-title"><span class="font-weight-bold">Title: </span> <%= book[:title] %> </h5>
            <%= render 'books/partials/rating', obj:book[:average_rating]%>
            <%= render 'books/partials/authors', obj: author_names(book.authors) %>
            <p class="card-text"><span class="font-weight-bold mr-2">Price: </span> <%= number_to_currency(book[:sale_price]) %> </p>
            <div class="d-flex justify-content-center">
              <%= link_to 'View', book_path(book), class: "btn btn-success"%>
            </div>
          </div>
          </div>
        </div>
      </div>  
    </div>
  <% end %>
  <% if will_paginate @books%>
    <div class="flickr_pagination mb-4">
      <%= will_paginate @books, :container => false %>
    </div>
  <% end %>
</div>