<%= link_to books_path, class:"btn btn-link px-0 " do %>
  <%= fa_icon 'arrow-circle-left' %> Back
<% end %>
<% if !@book.blank? %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="d-flex flex-column align-items-center justify-content-center col-md-3">
        <img src=<%= @book[:image_link] %> alt=<%= @book[:title] %> class="img-fluid mt-4">
      </div>
      <div class="col-md-9">
        <div class="card-body text-justify">
          <h5 class="card-title"><span class="font-weight-bold">Title: </span> <%= @book[:title] %> </h5>
          <%= render 'books/partials/rating', obj:@book[:average_rating] %>
          <%= render 'books/partials/authors', obj: author_names(@book.authors) %>
          <p class="card-text"><span class="font-weight-bold">Description: </span> <%= book_text(@book[:description]) %> </p>
          <div class="d-flex justify-content-between">
            <p class="card-text"><span class="font-weight-bold mr-2">Publisher: </span> <%= @book[:publisher] %> </p>
            <p class="card-text"><span class="font-weight-bold">Published Date: </span> <%= @book[:published_date] %></p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="card-text"><span class="font-weight-bold mr-2">Price: </span> <%= number_to_currency(@book[:sale_price]) %> </p>
          </div>

          <% if !current_user.admin %>
            <div class="d-flex justify-content-center align-items-center my-3">
              <% if !@book.already_in_cart %>
                <%= form_with(model: @book, url: shopping_carts_path, method: :post) do |f| %>
                  <%= f.hidden_field :book_id, value: params[:id]%>
                  <%= f.hidden_field :price, value: @book[:sale_price] %>
                  <div class="form-group row">
                    <div class="col-sm-5">
                      <%= f.label :quantity, 'Quantity:', class: "form-label font-weight-bold" %>
                    </div>
                    <div class="col-sm-7">
                      <%= f.number_field :quantity, value:"1", in: 1..30, class: "form-control"%>
                    </div>
                  </div>      
                  <div class="text-center">
                    <%= f.submit("Add to shopping cart", class:"btn btn-success mx-2")%>
                  </div>
                <% end %>
              <% else %>
                <span class="badge badge-secondary py-2 mt-1">
                  Book already added in shopping cart
                </span>
              <% end %>
            </div>
            
            <div class="d-flex justify-content-center mt-4">
              <%= link_to @book[:preview_link], class: "btn btn-primary mx-2", target: :_blank do %>
                <%= fa_icon 'eye', text:"Preview" %>
              <% end %>

              <% if !@book.already_in_wishlist %>
                <%= link_to wishlists_path(book: @book) , class: "btn btn-danger mx-2", method: :post do %>
                  <%= fa_icon 'heart', text:"Add to Wishlist" %>
                <% end %>
              <% else %>
                <span class="badge badge-secondary py-2 mt-1">
                  Book already added in wishlist
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'shared/nothing_found' %>
<% end %>
