<% if !@api_books.blank? %>
    <% @api_books.each do |book| %>
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="d-flex flex-column align-items-center justify-content-center col-md-3">
                    <img src=<%= book_image_url(book["volumeInfo"]["imageLinks"])%> alt=<%= book_text(book["volumeInfo"]["title"])%> class="img-fluid mt-4">
                </div>
                <div class="col-md-9">
                    <div class="card-body text-justify">
                        <h5 class="card-title"><span class="font-weight-bold">Title: </span> <%= book_text(book["volumeInfo"]["title"]) %> </h5>
                        <%= render 'books/partials/rating', obj:book["volumeInfo"]["averageRating"]%>
                        <%= render 'books/partials/authors', obj: book["volumeInfo"]["authors"]%>
                        <p class="card-text"><span class="font-weight-bold">Description: </span> <%= limit_text(book_text(book["volumeInfo"]["description"])) %> </p>
                        <div class="d-flex justify-content-between">
                            <p class="card-text"><span class="font-weight-bold mr-2">Publisher: </span> <%= book_text(book["volumeInfo"]["publisher"]) %> </p>
                            <p class="card-text"><span class="font-weight-bold">Published Date: </span> <%= book_text(book["volumeInfo"]["publishedDate"])%></p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <%= link_to 'Preview', book["volumeInfo"]["previewLink"], class: "btn btn-link mx-2", target: :_blank %>
                            <% if book["already_added"] %>
                                <%= link_to 'Select', book_to_add_path(id: book["id"]), class: "btn btn-success mx-2" %>
                            <% else %>
                                <span class="badge badge-pill badge-secondary"><p class="pt-3 pb-0">You have already added this book</p></span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Nothing found 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>
