<p class="col-md-4 mb-0 text-muted">© 2021 Magic Books Store, Inc</p>

<ul class="nav col-md-4 justify-content-end">
    <%= link_to '#', class:"nav-link px-2 text-muted" do %>
        <%= fa_icon 'facebook 1x' %> 
    <% end %>
    <%= link_to '#', class:"nav-link px-2 text-muted" do %>
        <%= fa_icon 'instagram 1x' %> 
    <% end %>
    <%= link_to '#', class:"nav-link px-2 text-muted" do %>
        <%= fa_icon 'twitter 1x' %> 
    <% end %>
    <%= link_to '#', class:"nav-link px-2 text-muted" do %>
        <%= fa_icon 'whatsapp 1x' %> 
    <% end %>
</ul>